:root{
    --pink-color:#FE5D89;
    --blue-color:#243E63;
    --background-color:#696CFD;
}

body{
    font-family: 'Poppins', sans-serif;
    background:#F6F8FA;
}
header{
    background-image: url(http://muzaddidul.com/conzex/assets/img/hero-section/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding:40px 0;
    color:#fff;
}

.header__nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu{
    display: flex;
    align-items: center;
}
.header__menu__link{
    margin:0 15px;
    font-size:15px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
.header__menu__link:nth-of-type(1),.header__menu__link:nth-of-type(5),.header__menu__link:nth-of-type(6){
    position: initial;
}
.header__menu__link__text{
    position: relative;
    padding:10px 0;
}
.header__menu__link:first-child span:after{
    width: 100%;
}
.header__menu__link__text:after{
    content:'';
    position: absolute;
    width: 0;
    height: 1px;
    background:#fff;
    transition: all .5s;
    top:100%;
    left:auto;
    right:0;
}
.header__menu__link__text:hover:after{
    width: 100%;
    left:0;
    right:auto;
}
.header__menu__btn{
    padding:18px 35px;
    font-weight: 600;
    border-radius: 5px;
    outline: none;
    border:none;
    margin:10px;
    cursor: pointer;
    transition: all .5s;
}
.header__menu__btn:nth-of-type(1){
    color:var(--pink-color);
    background:#fff;
}
.header__menu__btn:nth-of-type(1):hover{
    background:var(--pink-color);
    color:#fff;
}
.header__menu__btn:nth-of-type(2){
    background:var(--pink-color);
    color:#fff;
}
.header__menu__btn:nth-of-type(2):hover{
    color:var(--pink-color);
    background:#fff;
}
.header__title{
    margin-top:100px;
}
.header__main{
    width: 60%;
}
.header__title{
    font-size: 42px;
    font-weight: 600;
    line-height: 60px;
}
.header__content{
    margin:20px 0;
    width: 85%;
    line-height: 25px;
    font-weight: 500;
    font-size: 14px;
}
.header__btn{
    padding:18px 35px;
    font-weight: 600;
    border-radius: 5px;
    outline: none;
    border:none;
    color:var(--pink-color);
    margin:10px;
    cursor: pointer;
    font-size: 16px;
    transition: all .5s;
}
.header__btn:hover{
    background:var(--pink-color);
    color:#fff;
}
.header__man{
    position: absolute;
    right:100px;
    top:20%;
}
.position_nav{
    position: initial;
}
.header__flower{
    position: absolute;
    left:40%;
}
.header__menu__dropdown{
    position: absolute;
    left:0;
    background:#fff;
    width: 100%;
    padding: 30px 0;
    top:130px;
    transform-origin: top center;
    z-index: 2;
    display: none;
}
.header__menu__dropdown__item{
    box-shadow:0px 0px 10px rgba(46, 46, 154, 0.13);
    margin-bottom: 30px;

}
.header__menu__dropdown__item__img{
    width: 100%;
}
.header__menu__dropdown__item__title{
    display:block;
    color:rgb(84, 82, 82);
    text-align: center;
    padding: 15px 0;
    background:#f5f5f5;
}
.row2{
    justify-content: center;
}
.header__menu__link__submenu{
    position: absolute;
    top:calc(100% + 25px);
    left:-15px;
    background:#fff;
    padding:10px 20px;
    border-radius: 5px;
    color:#635AF2;
    width: 205px;
    z-index:2;
    font-size: 14px;
    display:none;
    transform-origin: top center;

}
.header__menu__link__submenu__item{
    margin:15px 0;
    cursor: pointer;
    transition: all .5s;
}
.header__menu__link__submenu__item:hover{
    color:var(--pink-color);
    transform: translateX(5px);
}
.header__menu__link:hover .header__menu__link__submenu{
    display:block;
    animation: fadeIn .3s ease-out forwards;
}
.header__menu__link:hover .header__menu__dropdown{
    display:block;
    animation: fadeIn .3s ease-out forwards;

}
.header__menu__link:nth-of-type(1) .header__menu__link__text:hover ~ .header__menu__dropdown,.header__menu__link:nth-of-type(5) .header__menu__link__text:hover ~ .header__menu__dropdown,.header__menu__link:nth-of-type(6) .header__menu__link__text:hover ~ .header__menu__dropdown{
    display:block;
    animation: fadeIn .3s ease-out forwards;
}
.header__menu__link:nth-of-type(2):after,.header__menu__link:nth-of-type(3):after,.header__menu__link:nth-of-type(4):after{
    content:'';
    width: 100%;
    height: 25px;
    top:100%;
    z-index: 2;
    position: absolute;
    left:0;
}
.header__menu__link:nth-of-type(1) .header__menu__link__text:before,.header__menu__link:nth-of-type(5) .header__menu__link__text:before,.header__menu__link:nth-of-type(6) .header__menu__link__text:before{
    content:'';
    width: 100%;
    height: 25px;
    top:95%;
    z-index: 2;
    position: absolute;
    left:0;
}
@keyframes fadeIn{
    from{
        transform: scaleY(0);
        opacity: 0;
    }
    to{
        transform: scaleY(1);
        opacity: 1;
    }
}

.header__menu__dropdrown__card__title{
    border-bottom: 1px solid #ddd;
    color:#130350;
    font-size: 20px;
    padding:15px 0;
}
.header__menu__dropdrown__card__list{
    padding:15px 20px;
}
.header__menu__dropdrown__card__item{
    color:#7A7FD5;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all .5s;;

}
.header__menu__dropdrown__card__item:hover{
    color:var(--pink-color);
}
.manager{
    margin-top:100px;
}
.manager__item{
    width: 100%;
    background:#fff;
    padding:30px 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.manager__item__icon{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display:flex;
    margin-bottom: 30px;

}
.manager__item__icon i{
    margin:auto;
}
.manager .col-lg-3:nth-of-type(1) .manager__item__icon{
    background:#F6F8FA;
    color:#696CFD;
}
.manager .col-lg-3:nth-of-type(2) .manager__item__icon{
    background:#E4F3FF;
    color:#34A7FF;
}
.manager .col-lg-3:nth-of-type(3) .manager__item__icon{
    background:#FFE9EB;
    color:#FE5F8A;
}
.manager .col-lg-3:nth-of-type(4) .manager__item__icon{
    background:#F1EEFC;
    color:#6D5DA6;
}
.manager__item__icon__title{
    color:#243E63;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}
.manager__item__icon__content{
    color:#727B9A;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
}
.service{
    padding:100px 0 50px 0;
    text-align: center;
    color:#243E63;
    position: relative;
}
.service__title{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}
.service__content{
    width: 36%;
    margin: 0 auto;
    color:#727B9A;
    font-size: 15px;
    margin-bottom: 50px;
    line-height: 30px;
}
.service__item{
    width: 100%;
    background:#fff;
    padding:30px;
    text-align: left;
    box-shadow: 2px 30px 30px rgba(115, 117, 165, 0.07);
    margin-bottom: 30px;
    border-radius: 3px;
}
.service_item__title{
    color:#243E63;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.service__item__content{
    font-size: 14px;
    color:#727B9A;
    line-height: 25px;
}
.service__circle{
    position: absolute;
    left:-30px;
    animation:turnAround 60s infinite;
}
@keyframes turnAround{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.service2{
    padding:100px 0 50px 0;
    text-align: center;
    color:#243E63;
    background-image: linear-gradient(353deg, rgba(66, 27, 197, .02) 0%, rgba(105, 108, 253, .02) 100%);;
}
.service2__left{
    position: relative;
    height: 100%;
}
.service2__left__fix{
    position: absolute;
    left:0;
    z-index:3;
}
.service2__left__toTop{
    position: absolute;
    left:0;
    animation:toTop 5s infinite;
}
.serivce2__left__leaf{
    position: absolute;
    right:20%;
    top:50%;
    animation: turnAroundLeak 10s infinite;
}
@keyframes toTop{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-25px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes turnAroundLeak{
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(180deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}
.service2__right__item{
    display:flex;
    padding:15px;
    background: #fff;
    margin-bottom: 15px;
    align-items: center;
    cursor: pointer;
    transition: all .5s;
}
.service2__right__item:hover{
    transform: translateX(10px);
}
.service2__right__item__icon{
    height: 30px;
    width: 30px;
    background:#F3F4FA;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;

}
.service2__right__item__content{
    color:#130350;
    font-weight: 500;
    font-size: 16px;
}
.feature{
    padding:100px 0 50px 0;
    text-align: center;
    color:#243E63; 
    position: relative;
}
.feature__item{
    background:#fff;
    margin-bottom: 30px;
    width: 100%;
    padding:30px;
    text-align: start;
    border-radius: 5px;
    z-index:3;
    cursor: pointer;
    position: relative;
}
.feature__item:hover .feature__bg{
    transform: translateY(0);
    opacity: 1;
}
.feature__item:hover .feature__item__title,.feature__item:hover .feature__item__content{
    color:#fff!important;
}
.feature__item:hover .feature__item__icon{
    background:#fff;
}
.feature__bg{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background:#686EE4;
    transform: translateY(20px);
    transition: all .5s;
    opacity: 0;
    z-index:2;
    border-radius: 5px;
}

.feature__item__icon{
    width: 70px;
    height: 50px;
    border-radius: 24px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.feature__item__icon{
    font-size: 20px;
}
.feature .col-lg-4:nth-of-type(1) .feature__item__icon{
    background:#F3F4FA;
    color:#696CFD;

}
.feature .col-lg-4:nth-of-type(2) .feature__item__icon{
    background:#E4F3FF;
    color: #34A7FF;

}
.feature .col-lg-4:nth-of-type(3) .feature__item__icon{
    color: #FE5F8A;
    background: #FFE9EB;

}
.feature .col-lg-4:nth-of-type(4) .feature__item__icon{
    color: #3BE3A2;
    background:#EFFFF9;

}
.feature .col-lg-4:nth-of-type(5) .feature__item__icon{
    background:#F1EEFC;
    color:#6B5BA4;

}
.feature .col-lg-4:nth-of-type(6) .feature__item__icon{
    background:#FFE9EB;
    color:#FE5F8A;

}
.feature__item__title{
    font-size: 18px;
    color:#243E63;
    font-weight: 600;
    margin-bottom: 20px;
}
.feature__item__content{
    color:#727B9A;
    font-size: 14px;
    line-height: 25px;
}
.feature__item__wrap{
    position: relative;
    z-index:3;
}
.feature__animation__toTop__wrap{
    position: absolute; 
    height: 200px;
    width: 200px;
    right:5%;
    top:35%;
}
.feature__animation__toRight__wrap{
    position: absolute;
    height: 200px;
    width: 200px;
    right:10%;
    top:65%;
  
}
.feature__animation__toTop{
    position: absolute;
    animation: featureAnimatinoTurnAround1 30s infinite ease-out;
}
.feature__animation__toRight{
    position: absolute;
    animation: featureAnimatinoTurnAround2 30s infinite ease-in;

}
@keyframes featureAnimatinoTurnAround1{
    0%{
       right:0;
       top:0;
       transform:rotate(0deg);
    }
    25%{
        right:100%;
        top:0;
        transform:rotate(90deg);


    }
    50%{
        right:100%;
        top:100%;
        transform:rotate(180deg);


    }
    75%{
        right:0;
        top:100%;
        transform:rotate(270deg);


    }
    100%{
       right: 0;
       top:0;
       transform:rotate(360deg);
     }
}
@keyframes featureAnimatinoTurnAround2{
    0%{
        left:0;
        top:0;
        transform:rotate(0deg);
     }
     25%{
         left:100%;
         top:0;
         transform:rotate(90deg);
 
 
     }
     50%{
         left:100%;
         top:100%;
         transform:rotate(180deg);
 
 
     }
     75%{
         left:0;
         top:100%;
         transform:rotate(270deg);
 
 
     }
     100%{
        left: 0;
        top:0;
        transform:rotate(360deg);
      }
}
.team{
    padding:100px 0 50px 0;
    text-align: center;
    color:#243E63;
    background-image: linear-gradient(353deg, rgba(66, 27, 197, .02) 0%, rgba(105, 108, 253, .02) 100%);
}
.team__item{
    padding:30px;
    background:#fff;
    position: relative;
    cursor: pointer;
}
.team__item:hover:after{
    opacity: 1;
    box-shadow: 0 15px 30px rgba(115, 117, 165, .07);
}
.team__item:after{
    content:'';
    position: absolute;
    width: 40px;
    height: 40px;
    background:var(--pink-color);
    border-radius: 50%;
    bottom:95%;
    right:50%;
    animation:animationTeam 3s infinite;
    opacity: 0;
}
@keyframes animationTeam{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-7px);
    }
    100%{
        transform: translateY(0);
    }
}
.team__item__img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: contain;
    margin-bottom: 20px;
}
.team__item__name{
    color:#294368;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
}
.team__item__position{
    color:#696CFD;
    margin-bottom: 15px;
}
.team__item__content{
    color:#727B9A;
    font-size: 14px;
    line-height: 24px;
}
.team__item__icon{
    display:flex;
    align-items: center;
    justify-content: center;
}
.team__item__icon span{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border:1px solid #E0E0F2;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:0 5px;
    cursor: pointer;
    transition: all .5s;
    margin-top:15px;
}
.team__item__icon span i{
    font-size: 12px;
}
.team__item__icon span:hover{
    background:var(--pink-color);
    color:#fff;
}
.statistic{
    padding: 50px 0;
    text-align: center;
    color:#fff;
    background-image: url(http://muzaddidul.com/conzex/assets/img/funfact/funfact-bg.png);
    background-repeat: no-repeat;
    position: relative;
    height: 550px;
    background-position: center;
}
.statistic__title{
    font-weight: 600;
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.statistic__content{
    width: 40%;
    margin:0 auto;
    line-height: 25px;
    font-size: 15px;
    margin-bottom: 100px;
}
.statistic__item__number{
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 15px;
}
.statistic__item__desc{
    font-size: 20px;
}
.statistic__contact{
    width: 60%;
    background:#fff;
    position: absolute;
    padding:50px 80px;
    display:flex;
    justify-content: space-between;
    left:50%;
    transform: translateX(-50%);
    top:85%;
    box-shadow: 0px 30px 30px rgba(115, 117, 165, 0.07);
    border-radius: 10px;
    text-align:start ;
    align-items: center;

}
.statistic__contact__content{
    flex:1;
}
.statistic__contact__content__title{
    color:#130350;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
}
.statistic__contact__content__desc{
    color:#727B9A;
    font-size: 14px;
    line-height: 25px;
}
.statistic__contact__btn{
    outline: none;
    border:none;
    padding:20px 40px;
    border-radius:8px;
    margin-left:55px;
    background:var(--pink-color);
    color:#fff;
    font-weight: 600;
    cursor: pointer;
    line-height: 15px;
    transition: all .5s;
}
.statistic__contact__btn:hover{
    background:#6563f7;
    color:#fff;
}

.product{
    padding:240px 0 100px 0;
}
.product__wrap{
    background:#fff;
    text-align: center;
    padding-top: 80px;
    color: #243E63;
}
.product__content{
    width: 50%;
}
.product__menu{
    display:flex;
    justify-content: center;
}
.product__menu__text{
    margin:0 30px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 80px;
}
.grid{
    display:flex;
}
.grid-col{
    padding:0 .3rem;
    flex-grow: 1;
}
.grid-col--2 ,.grid-col--3 { display: none }
@media ( min-width: 768px ) {
    .grid-col { width: 33.333%; }
    .grid-col--2 { display: block; } /* show column 3 */

  }
@media ( min-width: 1080px ) {
    .grid-col { width: 25%; }
    .grid-col--3 { display: block; } /* show column 3 */
  }

.product__item{
    position: relative;
}
.product__item img{
    width: 100%;
}
.product__item:hover .product__item__bg{
    opacity: 0.9;
}
.product__item__bg{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background:#FE5D89;
    display:flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .5s;
}
.product__item__bg i{
    font-size: 35px;
    color:#fff;
    cursor: pointer;
}
.product__menu__text:hover{
    color:#686EE4
}
.product__active{
    color:#686EE4;
}
.price{
    padding:100px 0;
    background:#F3F5FA;
    text-align: center;
    padding-top: 80px;
    color: #243E63;
}
.price__item{
    padding:30px;
    display:Flex;
    flex-direction: column;
    align-items: center;
    background:#fff;
    position: relative;
}
.price__item__name{
    font-weight: 600;
    font-size: 20px;
    margin:20px 0;
}
.price__item__price{
    font-weight: 600;
    font-size: 60px;
    margin-bottom:15px;

}
.price__item__name__time{
    font-weight: 500;
    font-size:18px;
}
.price__item__detail{
    margin:30px 0;
    display:flex;
    flex-direction: column;
}
.price__item__detail__custom{
    color:#727B9A;
    margin:12px 0;
    font-size: 15px;
}
.price__item__btn{
    outline: none;
    border: none;
    padding:20px 30px;
    font-weight: 600;
    font-size: 20px;
    color:#fff;
    background:var(--pink-color);
    border-radius: 5px;
    cursor: pointer;
}
.price__item__wrap{
    position: relative;
    z-index:3;
}
.price__item__bg{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:url(http://muzaddidul.com/conzex/assets/img/price-table/price-table-bg.png);
    transform: translateY(20px);
    transition: all .5s;
    opacity: 0;
}
.price__item:hover .price__item__bg{
    transform: translateY(0);
    opacity: 1;
}
.price__item:hover .price__item__wrap,.price__item:hover .price__item__detail__custom{
    color:#fff!important;
}